$(function() {
	for(var i=0;i<9;i++) {
		$('img.albumArt').eq(i).siblings("meta").attr("id", String(i));
	}
	{% for i in range(9) %}
		$('meta#{{i}}').siblings("img.albumArt").click(function() {
		idx = $("meta#{{i}}").attr("name");
		$("source#audioSource").attr("src", songData[idx]);
		$("audio#audioPlayer").load();
		$("img#cover").attr("src", albumData[idx]);
	});
	{% endfor %}
	$('[data-toggle="tooltip"]').tooltip();
	$('i.glyphicon-play').click(function(e) {
		$('audio#audioPlayer').play();
	});
	$('i.glyphicon-pause').click(function(e) {
		$('audio#audioPlayer').pause();
	});
	setInterval(cycleArt, 5000);
});

cycleArt = function() {
  for(i=0;i<9;i++) {
	cycle = Math.floor((Math.random() * {{numSongs}}));
	title = songName[cycle] + ' by ' + artistName[cycle] + ', from the album ' + albumName[cycle] + '.';
    $('img.albumArt').eq(i).fadeOut(300);
    $('img.albumArt').eq(i).attr('src', albumData[cycle]);
    $('img.albumArt').eq(i).siblings("meta").attr("name", String(cycle));
	$('[data-toggle="tooltip"]').eq(i).tooltip('hide');
	$('[data-toggle="tooltip"]').eq(i).attr('data-original-title', title);
	$('[data-toggle="tooltip"]').eq(i).tooltip('fixTitle');
	$('[data-toggle="tooltip"]').eq(i).tooltip();
    $('img.albumArt').eq(i).fadeIn(450);
  }
}