$('#navTabs a[href="#home"]').click(function(e) {
	$(this).tab('show');
});
$('#navTabs a[href="#song"]').click(function(e) {
	$(this).tab('show');
});
albumData = [
	{% for song in songs %}
	"{{ '/static/music/' + song['album'] + '/' + song['album'] + '.jpg' }}",
	{% endfor %}
];
songData = [
  {% for song in songs %}
	"{{ '/static/music/' + song['album'] + '/' + song['name'] + '.mp3' }}",
	{% endfor %}
];
songName = [
	{% for song in songs %}
	"{{song['name']}}",
	{% endfor %}
];
albumName = [
	{% for song in songs %}
	"{{song['album']}}",
	{% endfor %}
];
artistName = [
	{% for song in songs %}
	"{{song['artist']}}",
	{% endfor %}
];