<div role="tabpanel" class="tab-pane fade in active" id="home">
	{% for i in range(3) %}
	<section class="row">
		{% for i in range(3) %}
		<div class="col-sm-3">
			<img src="{{ '/static/music/' + songs[i]['album'] + '/' + songs[i]['album'] + '.jpg' }}" height="192" width="192" alt="{{ songs[i]['name'] }}" class="img-rounded albumArt" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="{{songs[i]['name'] + ' by ' + songs[i]['artist'] + ', from the album ' + songs[i]['album'] + '.'}}">
				<meta name="{{songs[i]['id']}}" id=""/>
			</img>
		</div>
		{% endfor %}
	</section>
	{% endfor %}
</div>